.main,
.header,
.intro,
.cards,
.quote,
.action,
.footer {
    display: flex;
}

.main {    
    flex-direction: column; 
     
    
}

.header {
    justify-content: space-between;    
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
    
        
}

.header-logo {      
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-left: 200px;
    
      
}
.header-right-links a{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: #F9FAF8;

}
.header-right-links {  
       
    display: flex;
    gap: 20px;
    margin-right: 200px;

    
}


.intro {  
    justify-content: space-between; 
    background-color: #1F2937;    
  
}

.intro-content {    
    display: flex;
    flex-direction: column;
    width: 600px; 
    
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.intro-content h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    font-weight: 1000;
    width: 500px;
    
}

.intro-content h4 {
    font-size: 24x;
    font-family: sans-serif;
    color: #F9FAF8;
    font-weight: 100;
    width: 600px;
    margin-bottom: 50px;
    

}

.intro-content button{
    height: 40px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 6px;
    color: #F9FAF8;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    border-color: #E5E7EB;
    border-width: 2px;


}
.intro-img-placeholder {
 
    
    display: flex;     
    align-items: center;
    justify-content: center;
    
    
}

.intro-img-placeholder img {
    margin-right: 200px;
    margin-top: 100px;
    border-radius: 100px;
    height: 400px;
    width: 475px;

}


.cards {
    
    flex-direction: column;   
    background-color: white;

}

.cards-boxes,
.cards-box {
    display: flex;
     
}

.cards-boxes {
    justify-content: center;
    gap: 20px;
    
}

.cards-title { 
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 50px;
}

.cards-box-content {
    color: #1F2937;
    font-family: sans-serif;
    font-size: 18px;
    gap: 20px;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-bottom: 100px;

}

.cards-box-content a {
    text-decoration: none;
    color: #1F2937;
}

.cards-box-img {
    height: 200px;
    width: 300px;
  
}
.cards-box {
    flex-direction: column;
    align-items: center;    
}

.cards-box img{
    height: 200px;
    width: 300px;
    border: 5px solid #F9FAF8;
    border-radius: 10px;
}

.quote {
    flex-direction: column;
    background-color: #E5E7EB;    

}

.quote-msg {
    color: #1F2937;
    font-size: 36px;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.quote-author {
    text-align: right;
    margin-right: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
}

.action{
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 100px 200px;

}
.action-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex: 1;
}

.action-box-content {
    display: flex;
    flex-direction: column;
}

.action-box-content-title {
    color: #E5E7EB;
    font-size: 18x;
    font-family: sans-serif; 
    font-weight: 600; 
}

.action-box-content-text {
    color: #E5E7EB;
    font-size: 16x;
    font-family: sans-serif; 
  
}

.action-box-button-signup {
    height: 40px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 6px;
    color: #F9FAF8;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    border-color: #E5E7EB;
    border-width: 2px;
    

   
}

.footer {
  
    justify-content: center;
    align-items: center;
    background-color: #1F2937;

}
.footer-content {
    color: #E5E7EB;
    font-size: 12x;
    font-family: sans-serif;
    padding: 25px; 
}

